body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #003399; /* USPS Blue */
    color: #FFFFFF; /* White */
    padding: 20px 0;
}

header .logo {
    font-size: 1.5em;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
    transform: skew(-20deg); /* This will create the rhombus effect */
    border: 2px solid #ffffff; /* White border for the rhombus */
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff; /* White text */
    transform: skew(20deg); /* This will correct the skew for the text */
    transition: color 0.3s ease; /* Transition for hover effect */
}

header nav ul li a:hover {
    color: #cccccc; /* Light gray text on hover */
}


#about, #services {
    padding: 50px 0;
    background-color: #f5f5f5; /* Light Gray */
    color: #003399; /* USPS Blue */
}

#about h2, #services h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#about p, #services p {
    font-size: 1.2em;
    line-height: 1.6;
}
